@charset "UTF-8";

/* ===== Estilos Gerais ===== */
body {
  font-family: serif;
  font-size: 18px;
  background-color: rgb(1, 1, 10);
  color: #f3f3f3;
}

img {
  border-radius: 50%;
  box-shadow: 0 0 10px #00000088;
  display: block;
  margin: 0 auto;
}

p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 80px auto 30px;
}

nav button {
  all: unset;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}

nav button:hover {
  text-decoration: underline;
}

.instagram-link,
.email-link,
.linkedin-link,
.github-link,
.whatsapp-link {
  color: #fff;
}

#conteudo #habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#conteudo #habilidades ul {
  position: relative;
  left: -20px;
  list-style-type: disc;
  padding-left: 40px;
  text-align: left;
}

#conteudo #habilidades li{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

#conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#conteudo ul {
  font-family: serif;
  list-style-type: disc;
  gap: 20px;
}

#conteudo #contato {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#conteudo #contato ul {
  position: relative;
  left: -20px;
  list-style-type: disc;
  padding-left: 40px;
  text-align: left;
}

#conteudo #contato li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
#conteudo li {
  display: list-item;
  font-size: 18px;
  text-align: left;
  width: fit-content;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

h1, h2, h3 {
  font-family: serif;
  color: rgb(110, 72, 247);
  text-align: center;
  margin: 10px auto 0;
  white-space: nowrap;
  width: 19ch;
}

h1 {
  font-size: 35px;
  white-space: nowrap;
}

h2 {
  font-size: 30px;
  overflow: hidden;
  margin-top: 50px;
  animation: typing 4s steps(19) infinite;
}

h3 {
  font-size: 35px;
  margin: 1px auto 0;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 19ch; }
  100% { width: 0; }
}
